/**
 * @author Gonzalo A. Arenas Flores <gonzalo.arenas.flores@gmail.com>
 * @version 0.0.1
 * @since 01-08-2018
 *
 * SASS de las variables generales de la aplicación
 *
 */

 //
 // Colores
 //
 $color-main    : #222;
 $color-reactjs : #61dafb;

 //
 // Proporciones y límites
 //
 $init-responsive: 900px;